<link rel="stylesheet" type="text/css" href="css/build.css">

<p1>Build a Recipe</p1>
<table>
    <tr>
        <!--On the left, the work-in=progress recipe-->
        <td>
            <div id="recipe">
                <p2>Custom Recipe</p2>
                <table id="recipe-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ingredient</th>
                    </tr>
                    </thead>
                    <tbody id="recipe-table-body"></tbody>
                </table>
            </div>
        </td>

        <!--On the right, the list of available ingredients-->
        <td id="ingredients-column">
            <div id="ingredients">
                <p2>Here are your available ingredients</p2>
                <table id="ingredients-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ingredient</th>
                        </tr>
                    </thead>
                    <tbody id="ingredients-table-body"></tbody>
                </table>
            </div>
        </td>
        <!--Ingredient info-->
        <td>
            <div>
                <p2>Ingredient Info</p2>
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Ethics</th>
                        <th>Alternatives</th>
                    </thead>
                    <tbody id="ingredient-info-body"></tbody>
                </table>
            </div>
        </td>
    </tr>
</table>


<script type="text/javascript" src='/js/ServerInteractor.js'></script>
<script type="text/javascript" src='/js/build/BuildRecipeViewController.js'></script>
<script type="text/javascript" src='/js/build/BuildRecipeFunctionFactory.js'></script>