<p1>Build a Recipe</p1>
<div id="recipe"></div>
<div id="ingredients">
    <p2>Here are your available ingredients</p2>
    <table id="ingredients-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Ingredient</th>
        </tr>
        </thead>
        <tbody id="ingredients-table-body"></tbody>
    </table>
</div>

<script type="text/javascript" src='/js/ServerInteractor.js'></script>
<script type="text/javascript" src='/js/BuildRecipeViewController.js'></script>