
<p>{{#each results}}{{#if @first}}{{this.categoryname}}{{/if}}{{/each}} Recipes</p>
<ul>
    {{#each results}}
        <li><a href='/ingredients/{{this.recipename}}'><p>{{this.recipename}}</p></a></li>
    {{/each}}
</ul>


<div class="viewCat">
<br>
<a href="javascript:history.back()">Return to Home</a>


</div>
<script src="js/register.js"></script>
