</div>

<div class="hp_options" id="food">
    <div class="column">

        <a href="/breakfast">
            <img src="images/breakfast.jpg" alt="breakfast">
        </a>

        <p id="label"><a href="/breakfast">Breakfast</a></p>
    </div>

    <div class="column">

        <a href="/lunch">
            <img src="images/lunch.jpg" alt="lunch">
        </a>
        <p id="label"><a href="/lunch">Lunch</a></p>
    </div>
    <div class="column" >
        <a href="/dinner">
            <img src="images/dinner.jpg" alt="dinner">
            <p id="label"><a href="/dinner">Dinner</a></p>
        </a>
    </div>

</div>
<script type="module" src="js/register.js"></script>
