table {
    border-collapse: collapse;
}

#full-table {
    border: 1px solid black;
}

td {
    vertical-align: top;
    padding: 3px;
}

tr {
    text-align: left;
}

button {
    vertical-align: middle;
    height: 100%;
}

.build-column {
    padding: 25px;
}

.ing-info {
    font-weight: bold;
}

#full-table {
    width: 100%;
    table-layout: fixed;
}

#recipe-table tr td:nth-child(1), #recipe-table th:nth-child(1), 
#ingredients-table tr td:nth-child(1), #ingredients-table th:nth-child(1) {
    display: none;
}

#recipe-table tr:nth-child(even), #ingredients-table tr:nth-child(even) {
    background: #c4dbff;
}

#alert-div {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    background-color: transparent;
    width: 400px;
    right: 10px;
    bottom: 0;
}

.alert {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}

.alert.add-error {
    background-color: #F44336;
}

.alert.remove-success {
    background-color: #2196F3;
}